* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/* header */


/* main */
.main {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 0%;
  gap: 0%;
}

.main .section {
  display: grid;
  grid-template-rows: auto;
}

.main .section .post {
  display: grid;
  grid-template-columns: 30% 60%;
}

.main .section .post img {
  height: 200px;
  margin: 20px;
  margin-left: 50px;
  border-radius: 30px;
}

.main .section .post p {
  font-size: 20px;
}

.main .nav {
  display: flex;
  flex-direction: column;
}

.main .nav ul li img {
  height:100px;
  margin-top: 20px;
  border-radius: 10px;
}

.main .nav ul li {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 0;
}

.drop-down_navbar {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header li:hover {
  color: #f7c08a;
  background: #444;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 20px;
}

.header {
  background-color:#333;
}

.logo {
  padding-left: 20px;
}
  
@media only screen and (min-width: 769px) {
  .nav {
    display: flex;
  }

  .main {
    grid-template-columns: 70% 30%;
    grid-gap: 0;
  }
  
  .main .section h2 {
    font-size: 16px !important;
    margin-left: 30px;
  }

  .main .section .post p {
    font-size: 12px;
    margin-left: 30px;
  }

  .main .section .post img {
    height: auto;
    width: 80%;
    margin: 0px;
    margin-left: 50px;
    border-radius: 20px;
  }

  .nav h2 {
    margin: 20px 0px 10px 0px;
  }

  .nav ul li img {
    height: auto;
    width: 80%;
    margin: 20px, 10px, 0px, 10px; 
  }

  .nav ul li {
    margin-right: 15px;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  .main .nav {
    display: none;
  }

  .main {
    display: flex;
  }

  .post h2 {
    margin: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .post p {
    padding: 0px;
    font-size: 0.8em !important;
    margin: 0px;
    margin-left: 10px !important;
  }

  .post {
    margin: 10px 0;
    width: 100% !important;; 
  }

  .main .section .post img {
    height: auto;
    width: 80%;
    margin: 0px;
    margin-left: 10px;
    border-radius: 20px;
  }
  
  .header a {
    font-size: 0.8em !important;
  }
}
  
@media only screen and (max-width: 480px) {
  
  .main .nav {
    display: none;
  }

  .main .navbar .drop-down_navbar {
    display: flex;
  }

  .main {
    display: flex;
  }

  .main .section .post {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main .section .post .second {
    display: none;
  }

  .main .section .post .first {
    font-size: 12px;
  }

  .main .section .post img {
    height: auto;
    width: 80%;
    margin: 0px;
    margin: 5px 0px 10px 5px;
    border-radius: 15px;
  }

  .main .section .post h2 {
    font-size: 16px;
  }

  .drop-down_navbar {
    display: flex;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    border: none;
  }

  .navbar {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .navbar ul {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 80px;
    box-shadow: 0px 0px 10px 0px;
    z-index: 1;
  }

  .navbar ul a:hover {background-color: #fff;}
  
  .navbar:hover ul {
    display: block;
  }

} 
  